Click==7.0
cycler==0.10.0
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.11.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
itsdangerous==2.0.1