#flask_lib

certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
docopt==0.6.2
Flask==2.2.3
idna==3.4
importlib-metadata==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pipreqs==0.4.11
requests==2.28.2
urllib3==1.26.15
Werkzeug==2.2.3
yarg==0.1.9
zipp==3.15.0

#twint_lib

aiohttp==3.7.0
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx

#selenium_lib

fake_headers==1.0.2
python_dateutil==2.8.2
selenium==4.5.0
selenium_wire
webdriver_manager==3.2.2




