@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

}

.search {

    top: 6px;
    left: 10px;
}

.form-control {

    border: none;
    padding-left: 32px;
}

.form-control:focus {

    border: none;
    box-shadow: none;
}

.green {

    color: green;
}

.layout {

    width: 1800px
}

.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}
.fomrgroup input{
    float: right;
     width: 70%;
    height: 25px;
    margin-right: 20px;
    line-height: 50px;
}
.fomrgroup b{
    font-size: 20px;
}
/* The Modal (background) */
.modal {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 1; /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}